doctype html
html
	head
		title Edit Profile
		include ./bootstrap.pug
	body
		include ./navbar.pug
		div.container-fluid.p-4
			div.row.justify-content-center
				div.col-md-8.shadow.p-4
					div.lead.font-weight-bold.text-center Edit Profile
					form(action="/updateprofile",method="POST")
						div.form-group
							label(for="name") Name
							input(name="name",type="text",value= name ).form-control
						div.form-group
							label(for="regnumber") Registration Number
							input(name="regnumber",type="text",value= regnumber, readonly ).form-control
						div.form-group
							label(for="studyyear") Year of Study
							input(name="studyyear",type="Number",value= studyyear, readonly).form-control
						div.form-group
							label(for="instituteemail") Institute Email
							input(name="instituteemail",type="text",value= instituteemail, readonly ).form-control
						div.form-group
							label(for="personalemail") Personal Email
							input(name="personalemail",type="text",value= personalemail, readonly).form-control
						div.form-group
							label(for="interests") Interests (Split different interests by comma)
							textarea(name="interests",rows="3",placeholder="Programming,Machine learning,CTS-II").form-control.rounded-0 #{interests}

					
							
						button(type="submit").btn.btn-dark Submit changes
		