doctype html
html
	head
		title Error
		include ./bootstrap.pug
	body
		include ./navbar.pug
		if(message)
			p.lead.p-4.mx-auto.my-auto.shadow-sm #{message}
		else
			p.lead.p-4.shadow-sm Restricted access