doctype html
html
	head
		title Home Page
		include ./bootstrap.pug
	body
		include ./navbar.pug
		div.jumbotron.jumbotron-fluid
			div.container
				h1.display-4 Electronics and Communication Engineering Assiciation
		div.container-fluid
			div.row.justify-content-center.p-4
				div.col-lg-11.shadow-sm.p-4
					h6.ml-4.mt-2.text-center Quick Menu
					a(href="/showusers").dropdown-item Members
					h6.ml-4.mt-2 Question Bank
					a(href="/questionbank/electronics").ml-4.dropdown-item Electronics Questions
					a(href="/questionbank/software").ml-4.dropdown-item Software Questions
					a(href="/questionbank/other").ml-4.dropdown-item Miscellaneous Questions
				
