doctype html
html
	head
		title Home Page
		include ./bootstrap.pug
	body
		include ./navbar.pug
		div.jumbotron.jumbotron-fluid
			div.container
				h1.display-4 Electronics and Communication Engineering Assiciation
			
